

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.outside p {
	cursor: pointer;
}
.inside {
	display: none;
}
.verify, .error {
	display: none;
}













